div {
    border-color: blue;
    padding: 25px;
}
h1  {
    font-family: Arial, Helvetica, sans-serif;
}
h4  {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li {
    margin: 10px;
    font-style: italic;
}
img {
  border-radius: 50px;
}
